# Backend Configurations
PORT=5000
MONGO_URI=mongodb://localhost:27517/taskflow
JWT_SECRET=yoursecretjwtkeyhere12345!

# Frontend Configurations (Optional, default proxy routes to PORT)
VITE_API_URL=http://localhost:5000
